html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #151314;
    text-rendering: optimizeLegibility;
    -webkit-text-smoothing: antialised;
    margin: 0;
}

.main {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 900;
    font-size: 5em;
    margin: 0;
}

h3 {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.4em;
}

.fa {
    padding: 20px;
    color: #C8561F;
    text-decoration: none;
    text-align: center;
}

.fa:hover {
    color: #8E3509;
}

.red {
    color: #C8561F;
}

.white {
    font-style: italic;
    color: white;
}